@model IEnumerable<ContaModel>

@{
    ViewData["Title"] = "Contas em Aberto";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <strong> <h1 class="display-4">CONTAS EM ABERTO </h1>  </strong>
        <a class="btn btn-success" asp-controller="ContasEmAberto" asp-action="AdicionarConta">
            <i class="fas fa-plus"></i> Cadastrar Conta
        </a>
    </div>

    @if (Model != null && Model.Any())
    {
        <div class="row">
            @foreach (var conta in Model)
            {
                <div class="col-md-4 mb-4" >
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">@conta.NomeDaConta</h3>
                            <p class="card-text">
                                <strong>Vencimento:</strong> @conta.Vencimento.ToString("dd/MM/yyyy")<br>
                                <strong>Valor:</strong> @conta.Valor.ToString("C")
                            </p>
                            <a asp-action="PagarConta" class="btn btn-success" asp-route-id="@conta.Id">Pagar</a>
                            <a asp-action="EditarConta" class="btn btn-warning" asp-route-id="@conta.Id">Atualizar</a>
                            <a asp-action="ExcluirConta" class="btn btn-danger" asp-route-id="@conta.Id">Excluir</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            Não há contas em aberto no momento.
        </div>
    }
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
}
